<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
 	<%= csrf_meta_tags %>
	<%= render 'layouts/stylesheets'%>
</head>

<body>
	<div class="container">
		
		<!-- header containing log and navigation menu -->
		<%= render 'layouts/header'%>

		<!-- main content area that is defined in other templates -->
		<section class="round">
			<%= yield %>
		</section>
		
		<%= render 'layouts/footer'%>
	</div>
</body>
</html>
